<html>
  <head>
    <style>
    html {
      background:black;
    }

    body.w3-black {
      background:black;
      color:white;
    }

    button.button.buttonBlue {
      background:#4a89dc;
      color:white;
    }

    </style>
  </head>
  <body>
</div>



<hgroup>
  <h1><center>Log In</center></h1>
</hgroup>
<form action='/login' method='post'>
  <div class="group"><center>
    <input type="username" placeholder="Username" name="username" required>

  </div></center>
<div class="group"><center>
    <input type="email" placeholder="Email" name="email" required>

  </div></center>
 <div class="group"><center>
    <input type="password" placeholder="Password" name="password" required>
  </div></center>
   <center><button type="submit" class="button buttonBlue">Log in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button></center>


</form>