<body>
    <div id ="background"
      <div id ="text-overlay">
        <h2><b>WORKOUT LIST</b></h2>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:5em">TIME TO WORKOUT!!</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>
</body>